* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

:root {
    --black: #000000;
    --background: #14213d;
    --primary: #4a89dc;
    --secondary: #5d9cec;
    --wheat: #e5e5e5;
    --white: #ffffff;
    /* accessible everywhere */
}

/*
Paleta: 
https: //coolors.co/000000-14213d-5d9cec-4a89dc-e5e5e5-ffffff 
*/

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background: white;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    /*height: 100vh*/
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform: uppercase;
    width: 100%;
}

/* Portrait layout (default) */

.app {
    height: 100%;
    overflow: hidden;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #14213d;
    background-color: #4a89dc;
}

/* Change background color of links on hover */

ul.tab li a:hover {
    background-color: #5d9cec;
}

/* Float the list items side by side */

ul.tab li {
    float: left;
}

/* Style the links inside the list items */

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Create an active/current tablink class */

ul.tab li a:focus, .active {
    background-color: white;
}

/* Style the tab content */

.tabcontent {
    display: none;
    height: -webkit-fill-available;
    padding: 6px 12px;
    border: 1px solid #e5e5e5;
    border-top: none;
}

/* Style device table */

.tabla-dispositivos {
    width: 100%;
    font-size: 1.6em;
    border-collapse: collapse;
}

.tabla-dispositivos th {
    background-color: #5d9cec;
    color: white;
}

.tabla-dispositivos tr:nth-child(even) {
    background-color: #A4C7F4;
}

.tabla-dispositivos td {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Sytle buttons */

.button {
    margin-top: 2px;
    background-color: #5d9cec;
    border-radius: 8px;
    border: 1px groove black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    padding: 8px 20px;
}

.button:hover {
    background-color: #4a89dc;
}

/* Other styles */

textarea {
    height: inherit;
}

.app-label {
    font-size: 1.5em;
}